<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Author Notes - Pandit Grapher</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="author-notes-container" class="shared-container">

    <h1>Author Notes</h1>

    <p>
      <ul>
        <li><a href="https://www.tylerneill.info" target="_blank">Personal website</a></li>
        <li><a href="https://uni-leipzig1.academia.edu/TylerNeill" target="_blank">On Academia.edu</a></li>
        <li><a href="https://www.linkedin.com/in/tyler-g-neill/" target="_blank">On LinkedIn</a></li>
        <li><a href="https://github.com/tylergneill">On GitHub</a></li>
      </ul>
    </p>

    <div class="footer">
      <p>Back to <a href="/about">About</a></p>
      <p>Back to <a href="/">Home</a></p>
    </div>

  </div>
</body>
</html>
