<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Pandit Grapher</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="about-container" class="shared-container">
    <h1>About Pandit Grapher</h1>
    <p>
      Pandit Grapher provides a visual way to explore relationships between works and authors in the
      <a href="https://www.panditproject.org" target="_blank">Pandit Prosopographical Database of Indic Texts</a>.
      Pandit Grapher is in conversation with Pandit, but it is not officially affiliated with it.
    </p>
    <p><a href="/notes/author">About the author</a></p>
    <p><a href="/notes/license">License details</a></p>
    <p><a href="/notes/data">Notes on data used</a></p>
    <p><a href="/notes/technical">Technical details</a></p>
    <div class="footer">
      <p>Back to <a href="/">Home</a></p>
    </div>
  </div>
</body>
</html>
