<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Pāṇḍitya</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="about-container" class="shared-container">
    <h1>Pāṇḍitya</h1>

    <p><i>pāṇḍitya n. (fr. paṇḍita) scholarship, erudition, learning</i></p>

    <p>
      Pāṇḍitya provides a visual way to explore relationships between works and authors in the
      <a href="https://www.panditproject.org" target="_blank">Pandit Prosopographical Database of Indic Texts</a>.
    </p>

    <p><a href="/notes/license">License details</a></p>
    <p><a href="/notes/data">Notes on data used</a></p>
    <p><a href="/notes/technical">Technical details</a></p>
    <p><a href="/notes/author">About the author</a></p>

    <div class="footer">
      <p>Back to <a href="/">Home</a></p>
    </div>

  </div>
</body>
</html>
