<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SETI - Pāṇḍitya</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="data-notes-container" class="shared-container">
    <h1>SETI</h1>
    <p>
      SETI is the Sanskrit E-Text Inventory, or "Search for E-Textual Intelligence."
      Because GRETIL will not continue to track or hold all the most useful academic Sanskrit e-texts online,
      SETI is now taking the lead.
    </p>
    <p>
      The project uses Pandit's unique IDs for works
      to collate the various e-text resources in GRETIL, SARIT, and so on,
      thereby making it possible to map from these IDs, on which Pāṇḍitya's graphs are based,
      directly out to these resources in their respective corners of the internet.
    </p>
    <p>
      This diagram shows how Pandit, Pāṇḍitya, and SETI interact to provide interfaces to this information.
    </p>

    <div class="footer">
      <p>Back to <a href="/about">About</a></p>
      <p>Back to <a href="/">Home</a></p>
    </div>
  </div>
</body>
</html>
